# Ignore everything
*

# except...
!.gitignore

# Configs
!install_prerequisites.sh
!.bashrc
!.bash_profile

# Alacritty configs
!alacritty/
!alacritty/**

# Hyprland configs
!hypr/
!hypr/**

# Waybar configs
!waybar/
!waybar/**

# Neovim configs
!nvim/
!nvim/**
